.xkit-vanilla-audio-done {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  cursor: auto;
}

.xkit-vanilla-audio-done :is(button, [role="slider"]) {
  display: none;
}

.xkit-vanilla-audio-done .trackInfo {
  padding-left: 20px;

  pointer-events: auto;
  user-select: auto;
}

.xkit-vanilla-audio-done ~ audio[controls] {
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: clip;

  color-scheme: dark;
}

@supports (selector(audio::-webkit-media-controls-panel)) {
  .xkit-vanilla-audio-done ~ audio[controls] {
    height: 40px;
    background-color: #484848;
  }
  .xkit-vanilla-audio-done ~ audio::-webkit-media-controls-panel {
    background-color: #484848;
  }
}

/* XKit 7 override */

.xkit-vanilla-audio-done ~ .xkit-audio-plus-slider-container,
.xkit-vanilla-audio-done ~ div[style="margin: 10px 0; padding: 0 20px;"] {
  display: none !important;
}
