:host {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 7.5px;
  padding-block: 7.5px;
  padding-inline: 3.75px;
}

span {
  display: contents;
}

.clr-field button {
  width: 32px;
  padding: 0;
  border: 1px solid transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  background-clip: content-box;
  color: inherit;
}

.clr-field button::after {
  border-radius: 0;
}
