:root {
  --black: 21, 20, 25;
  --white: 255, 255, 255;
  --grey: 207, 207, 216;
  --accent: 10, 132, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: 251, 251, 254;
    --white: 66, 65, 77;
    --grey: 91, 91, 102;
    --accent: 54, 213, 255;
  }
}

html {
  font-size: 14px;
  scrollbar-color: rgb(var(--grey)) transparent;
  scrollbar-width: thin;
  overflow-y: hidden;
}

body {
  background-color: rgb(var(--white));
  color: rgb(var(--black));
  font: inherit;
  -webkit-user-select: none;
  user-select: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 6px;
  flex-wrap: wrap;
}

#posts-blocked-count,
#posts-blocked-info {
  margin: 0;
}

#posts-blocked-count {
  font-size: 15px;
}

#posts-blocked-info {
  font-size: 11px;
}

#blocked-posts {
  padding: 0;
  margin: 1em 0 0;
}

#blocked-posts:empty {
  display: none;
}

.blocked-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1ch 0;
  border-top: 1px solid rgb(var(--grey));
}

.blocked-post button {
  padding: 0;
  border: none;

  appearance: none;
  background-color: transparent;
  color: rgb(var(--accent));
  cursor: pointer;
  font-weight: bold;
}
