body.xkit-seen-posts-only-dim-avatar [data-seen-posts-seen]:not(:hover) article header figure, /* Unmodified Tumblr DOM structure */
body.xkit-seen-posts-only-dim-avatar [data-seen-posts-seen]:not(:hover) article .dbplus-stickyContainer figure, /* Dashboard+ floating avatars */
body:not(.xkit-seen-posts-only-dim-avatar) [data-seen-posts-seen]:not(:hover) {
  opacity: 0.5;
}

body.xkit-seen-posts-hide [data-seen-posts-seen] {
  content: linear-gradient(transparent, transparent);
  height: 0;
}

body.xkit-seen-posts-hide .xkit-seen-posts-lengthened {
  min-height: 100vh;
}
