details {
  border-bottom: 1px dotted rgb(var(--active-grey));
}

summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1ch;

  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary:hover {
  background-color: rgb(var(--passive-grey));
}

summary:focus {
  background-color: rgb(var(--active-grey));
}

.disabled summary {
  color: rgba(var(--black), .8);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  overflow: hidden;
}

.icon ::slotted(i) {
  font-size: 26px;
  line-height: 32px;
}

.icon,
.meta,
.help {
  margin-right: 1ch;
}

.icon,
.buttons {
  flex-shrink: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.help:not([href]) i {
  display: none;
}

.help:not([href])::before {
  padding: 0 1ex;
  border-radius: 1em;

  background-color: orange;
  color: rgb(var(--white));
  content: 'New!';
  line-height: 1.5;
}

.help i {
  font-size: 1.25rem;
}

.title,
.description {
  margin: 0;
}

.disabled .title::after {
  content: " (disabled)";
  font-weight: normal;
}

[data-deprecated="true"]:not(.disabled) .title::after {
  content: " (deprecated)";
  font-weight: normal;
}

ul.preferences {
  padding: 0 0.5ch;
  margin: 1ch 0;

  list-style-type: none;
}

ul.preferences:empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.preferences:empty::before {
  content: "No preferences available for this feature.";
}

li {
  display: flex;
  align-items: center;
  padding: 0.5ch;
}

li.search-highlighted {
  background-color: rgb(var(--search-highlight));
}

label:not(:first-child),
input:not(:first-child) {
  margin-left: 1ch;
}

input[type="text"] {
  box-sizing: border-box;
  width: 65%;
  padding-left: 8px;
  padding-right: 8px;
}

input[type="text"],
select,
textarea {
  padding: 4px;
  border: none;
  border-radius: 3px;

  background-color: rgb(var(--passive-grey));
  color: rgb(var(--black));
}

input[type="text"],
select {
  margin-left: auto;
}

input[type="text"]:focus,
select:focus {
  background-color: rgb(var(--active-grey));
}

textarea {
  resize: none;
  width: 100%;
  scrollbar-color: rgba(var(--black), 0.5) rgb(var(--passive-grey));
  scrollbar-width: thin;
}

iframe {
  border: none;
  width: 100%;
}
