details {
  border-bottom: 1px dotted rgb(var(--active-grey));
}

summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 8px;
  padding: 8px;

  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary:hover {
  background-color: rgb(var(--passive-grey));
}

summary:focus {
  background-color: rgb(var(--active-grey));
}

.disabled summary {
  color: rgba(var(--black), .8);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  overflow: hidden;
}

.icon ::slotted(i) {
  font-size: 30px;
  line-height: 36px;
}

.icon,
.buttons {
  flex-shrink: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  height: 36px;
  margin-left: auto;
}

.badge ::slotted {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge ::slotted(a) {
  text-decoration: none;
}

.badge ::slotted(span) {
  padding: 2px 6px;
  border-radius: 1em;

  background-color: #ff62ce;
  color: rgb(var(--white));
  line-height: 1.5;
}

.title,
.description {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
}

.disabled .title::after {
  content: " (disabled)";
  font-weight: normal;
}

[data-deprecated="true"]:not(.disabled) .title::after {
  content: " (deprecated)";
  font-weight: normal;
}

ul.preferences {
  padding: 0 4px;
  margin: 8px 0;

  list-style-type: none;
}

ul.preferences:empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.preferences:empty::before {
  content: "No preferences available for this feature.";
}

li {
  display: flex;
  align-items: center;
  padding: 4px;
}

li.search-highlighted {
  background-color: rgb(var(--search-highlight));
}

label:not(:first-child),
input:not(:first-child) {
  margin-left: 8px;
}

input[type="text"] {
  box-sizing: border-box;
  width: 65%;
  padding-left: 8px;
  padding-right: 8px;
}

input[type="text"],
select,
textarea {
  padding: 4px;
  border: none;
  border-radius: 3px;

  background-color: rgb(var(--passive-grey));
  color: rgb(var(--black));
}

input[type="text"],
select {
  margin-left: auto;
}

input[type="text"]:focus,
select:focus {
  background-color: rgb(var(--active-grey));
}

textarea {
  resize: none;
  width: 100%;
  scrollbar-color: rgba(var(--black), 0.5) rgb(var(--passive-grey));
  scrollbar-width: thin;
}

iframe {
  border: none;
  width: 100%;
}

.clr-field {
  width: 100px;
}

.clr-field input[type="text"] {
  width: 100%;
}

.clr-field button {
  border-radius: 0 3px 3px 0;
}
