details {
  border-bottom: 1px dotted rgb(var(--active-grey));
}

summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 8px;
  padding: 8px;

  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary:hover {
  background-color: rgb(var(--passive-grey));
}

summary:focus {
  background-color: rgb(var(--active-grey));
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  overflow: hidden;
}

.icon ::slotted(i) {
  font-size: 26px;
  line-height: 32px;
}

.icon,
.buttons {
  flex-shrink: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8px;
  height: 32px;
  margin-left: auto;
}

.badge ::slotted {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge ::slotted(a) {
  text-decoration: none;
}

.badge ::slotted(span) {
  padding: 2px 6px;
  border-radius: 1em;

  background-color: #ff62ce;
  color: rgb(var(--white));
  line-height: 1.5;
}

.title,
.description {
  margin: 0;
}

.title {
  font-size: 15px;
  line-height: 18.5px;
}

.description {
  font-size: 13px;
  line-height: 16px;
  opacity: 70%;
}

.disabled:not([open], :focus-within, :hover) :is(.icon, .meta) {
  opacity: 60%;
}

.disabled .title::after {
  content: " (disabled)";
  font-weight: normal;
}

[data-deprecated="true"]:not(.disabled) .title::after {
  content: " (deprecated)";
  font-weight: normal;
}

ul.preferences {
  padding: 0 4px;
  margin: 8px 0;

  list-style-type: none;
}

ul.preferences #empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

::slotted(.search-highlighted) {
  background-color: rgb(var(--search-highlight));
}
