:root {
  --black: 21, 20, 25;
  --white: 255, 255, 255;
  --grey: 207, 207, 216;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: 251, 251, 254;
    --white: 66, 65, 77;
    --grey: 91, 91, 102;
  }
}

html {
  font-size: 14px;
  scrollbar-color: rgb(var(--grey)) transparent;
  scrollbar-width: thin;
}

body {
  color: rgb(var(--black));
  background-color: rgb(var(--white));
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  -webkit-user-select: none;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

p {
  margin-top: 0;
}

small {
  margin-top: 1ch;
}
