:root {
  --black: #000000;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #ffffff;
    --white: #343434;
  }
}

body {
  color: var(--black);
  background-color: var(--white);
  font-size: 100%;
  -webkit-user-select: none;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

p {
  margin-top: 0;
}

small {
  margin-top: 1ch;
}
