*               text=auto

*.png           binary

*.css           text  diff=css
*.html          text  diff=html
*.md            text  diff=markdown

.gitattributes  export-ignore
.gitignore      export-ignore

lib/*           linguist-generated=true
