.gitattributes  export-ignore
.gitignore      export-ignore

*               text=auto

*.css           text  diff=css
*.html          text  diff=html
*.md            text  diff=markdown

*.png           binary

src/lib/**      linguist-vendored=true
