.mass-privater-failed {
  margin-top: 1em;
}
.mass-privater-failed-table-wrapper {
  margin-top: 0.5em;
  max-height: 300px;
  overflow-y: auto;
}
.mass-privater-failed-table {
  display: grid;
  grid: auto-flow / auto 1fr;
  gap: 1ch;
}
.mass-privater-failed-table > div {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: initial;
}
.mass-privater-failed:has(.mass-privater-failed-table:empty) {
  display: none;
}
