.mass-privater-failed {
  margin-top: 1em;
}
.mass-privater-failed > div {
  max-height: 300px;
  overflow-y: auto;
}
.mass-privater-failed td {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mass-privater-failed:has(table:empty) {
  display: none;
}
