:root {
  --black: 21, 20, 25;
  --white: 255, 255, 255;
  --light-grey: 223, 223, 229;
  --dark-grey: 207, 207, 216;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: 251, 251, 254;
    --white: 66, 65, 77;
    --light-grey: 83, 83, 94;
    --dark-grey: 91, 91, 102;
  }
}

html {
  font-size: 14px;
  scrollbar-color: rgb(var(--dark-grey)) transparent;
  scrollbar-width: thin;
  overflow-y: hidden;
}

body {
  padding: 3px;

  background-color: rgb(var(--white));
  color: rgb(var(--black));
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  -webkit-user-select: none;
  user-select: none;
}
