#quick-tags,
#quick-tags-post-option {
  position: absolute;
  z-index: 97;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 250px;
  max-height: 250px;
  overflow-y: auto;
  padding: 2px;
  border-radius: 3px;

  background-color: rgb(var(--white));
  background-image: linear-gradient(rgba(var(--black), 0.13), rgba(var(--black), 0.13));
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .5);
  color: rgb(var(--black));
  font-family: var(--font-family);
  font-size: .875rem;
  font-weight: normal;
}

#quick-tags-post-option[data-position="below"] {
  top: 100%;
  right: 50%;
  transform: translate(50%, 12px);
}

#quick-tags-post-option[data-position="above"] {
  bottom: 100%;
  right: 50%;
  transform: translate(50%, -12px);
}

#quick-tags {
  --icon-spacing: 12px;
}
@media (max-width: 990px) {
  #quick-tags {
    --icon-spacing: 0px;
  }
}

#quick-tags[data-position="below"] {
  inset: 100% 50% auto auto;
  transform: translate(calc(50% + var(--horizontal-offset, 0%)), var(--icon-spacing));
}
#quick-tags[data-position="above"] {
  inset: auto 50% 100% auto;
  transform: translate(calc(50% + var(--horizontal-offset, 0%)), calc(0px - var(--icon-spacing)));
}

#quick-tags:empty::before,
#quick-tags-post-option:empty::before {
  padding: 1ch;

  content: "No tag bundles are defined.";
  text-align: center;
}

#quick-tags form {
  margin: 2px 0;
}

#quick-tags input {
  box-sizing: border-box;
  width: 0;
  min-width: 100%;
  padding: 1ch;
  border: none;
  margin: 0;

  background-color: transparent;
  color: inherit;
  font: inherit;
  text-align: initial;
}

#quick-tags button,
#quick-tags-post-option button {
  padding: 1ch;

  background-color: inherit;
  color: inherit;
  font: inherit;
  text-align: initial;
}

#quick-tags button:not(:last-child),
#quick-tags-post-option button:not(:last-child) {
  margin-bottom: 2px;
}

.xkit-quick-tags-tags {
	position: relative;

	box-sizing: border-box;
	padding-left: var(--post-padding);
	padding-right: var(--post-padding);
	margin-top: 12px;

	font-family: var(--font-family);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	word-break: break-word;
}

.xkit-quick-tags-tags + div {
  display: none !important;
}

.xkit-quick-tags-tags > div {
  margin: -2px -6px;
  padding-top: 4px;
}

.xkit-quick-tags-tags a {
	vertical-align: bottom;

	display: inline-block;
  padding: 2px 6px;
	margin: -2px 0;

	color: rgba(var(--black), .65);
	text-decoration: none;
}

.xkit-quick-tags-tags a:hover {
  text-decoration: underline;
}
