.xkit-paused-gif-label {
  position: absolute;
  top: 1ch;
  right: 1ch;

  height: 1em;
  padding: 5px;
  border-radius: 3px;

  background-color: rgb(var(--black));
  color: rgb(var(--white));
  font-size: 1rem;
  font-weight: bold;
  line-height: 1em;
}

.xkit-paused-gif-label::before {
  content: "GIF";
}

.xkit-paused-gif {
  position: absolute;
}

*:hover > .xkit-paused-gif,
*:hover > .xkit-paused-gif-label {
  display: none;
}

.xkit-paused-background-gif:not(:hover) {
  background-image: none !important;
  background-color: rgb(var(--secondary-accent));
}

.xkit-paused-background-gif:not(:hover) > div {
  color: rgb(var(--black));
}

body.accesskit-blue-links article a[target="_blank"][href^="https://t.umblr.com/redirect"],
body.accesskit-blue-links article a[target="_blank"][href^="https://href.li/"] {
  color: rgb(var(--accent));
}

body.accesskit-no-user-colours article span[style^="color"] {
  color: inherit !important;
}


figure.accesskit-visible-alt-text {
  height: 100%;
  display: flex;
  flex-direction: column;
}

figure.accesskit-visible-alt-text figcaption {
  box-sizing: border-box;
  height: 100%;
  min-width: calc((min(540px, 100vw) / 3) - (4px * 2));
  padding: var(--post-header-vertical-padding) var(--post-padding);
  overflow: hidden;

  background-color: rgb(var(--secondary-accent));
  color: rgb(var(--black));
  font-size: .875rem;
  line-height: 1.5;
  text-align: center;
  overflow-wrap: break-word;

  user-select: text;
  cursor: initial;
}
