.xkit-gif-label {
  position: absolute;
  top: 1ch;
  right: 1ch;
  z-index: 1;

  height: 1em;
  padding: 5px;
  border-radius: 3px;

  background-color: rgb(var(--black));
  color: rgb(var(--white));
  font-weight: bold;
  line-height: 1em;
}

.xkit-gif-label::before {
  content: "GIF";
}

.xkit-paused-gif {
  position: absolute;
  z-index: 1;
}

figure:hover .xkit-paused-gif,
figure:hover .xkit-gif-label {
  display: none;
}


body.accesskit-blue-links article a[target="_blank"][href^="https://t.umblr.com/redirect"],
body.accesskit-blue-links article a[target="_blank"][href^="https://href.li/"] {
  color: rgb(var(--accent));
}

body.accesskit-disable-animations * {
  animation: none !important;
  transition: none !important;
}

body.accesskit-no-user-colours article span[style^="color"] {
  color: inherit !important;
}


figure.accesskit-visible-alt-text {
  height: 100%;
  display: flex;
  flex-direction: column;
}

figure.accesskit-visible-alt-text figcaption {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .75ch 1ch;

  font-size: .875rem;
  line-height: 1.5;
  text-align: center;
  background-color: rgb(var(--secondary-accent));
  color: rgb(var(--black));
}
