.xkit-cleanfeed-filtered figure:not(:hover) > div::after,
.xkit-cleanfeed-filtered [role="application"]:not(:hover) > div::after {
  content: "Hidden by CleanFeed";
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  background-color: rgb(var(--white));
  background-image: linear-gradient(rgba(var(--black), 0.07), rgba(var(--black), 0.07));
  color: rgba(var(--black), 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}
