.xkit-condensed-reblogs-expand {
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  color: var(--black);
  background-color: var(--secondary-accent);
  padding: var(--post-header-vertical-padding) var(--post-padding);
}

.xkit-condensed-reblogs-reblog + .xkit-condensed-reblogs-expand {
  margin-top: 15px;
}

.xkit-condensed-reblogs-expand ~ .xkit-condensed-reblogs-reblog:not(.xkit-condensed-reblogs-context):not([data-is-contributed-content]) {
  display: none;
}

.xkit-condensed-reblogs-context {
  margin-top: 0;
}
