.mass-privater-tag,
.mass-privater-blog {
  display: inline-block;

  font-size: 1rem;
  line-height: 1.5;
}

.mass-privater-tag {
  padding: 0 0.5em;
  border-radius: 1em;
  margin: 0.25rem 0;

  background-color: rgb(var(--deprecated-accent));
  color: rgb(var(--navy));
}

.mass-privater-blog {
  font-weight: 700;
}

.mass-privater-tag::before { content: '#'; }
.mass-privater-blog::before { content: '@'; }
