.xkit-mute-active [data-mute-hidden] article,
:is([data-mute-mode="original"], [data-mute-mode="reblogged"]) ~ div [data-mute-hidden-on-blog] article {
  display: none;
}

[data-mute-mode="all"] ~ div article {
  visibility: hidden !important;
}
[data-mute-mode="all"] ~ div article :is(img, video, canvas) {
  display: none;
}

.xkit-mute-lengthened {
  min-height: 100vh;
}

.xkit-mute-warning {
  padding: 25px 20px;
  border-radius: 3px;
  margin-bottom: var(--post-padding);

  background-color: var(--blog-title-color-15);
  color: var(--blog-title-color);

  font-weight: 700;
  text-align: center;
  line-height: 1.5em;
}

.xkit-mute-warning button {
  color: var(--blog-link-color);
}
