.xkit-mute-lengthened {
  min-height: 100vh;
}

.xkit-mute-warning {
  text-align: center;
  background-color: var(--blog-link-color-15);
  color: var(--blog-link-color);
  padding: 25px 20px;
  font-weight: 700;
  border-radius: 3px;
}

.xkit-mute-warning ~ * {
  visibility: hidden !important;
}

.xkit-mute-warning ~ * :is(img, video, canvas) {
  display: none;
}
