.xkit-mute-active .xkit-mute-hidden article {
  /* display: none; */
  opacity: 0.5;
}

.xkit-mute-lengthened {
  min-height: 100vh;
}

.xkit-mute-warning {
  padding: 25px 20px;
  border-radius: 3px;

  background-color: var(--blog-title-color-15);
  color: var(--blog-title-color);

  font-weight: 700;
  text-align: center;
  line-height: 1.5em;
}

.xkit-mute-warning button {
  color: var(--blog-link-color);
}

.xkit-mute-warning ~ * {
  visibility: hidden !important;
}

.xkit-mute-warning ~ * :is(img, video, canvas) {
  display: none;
}
