svg.xkit-mutual-icon {
  vertical-align: text-bottom;

  height: 1.23em;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0.5ch;
}

[data-timeline="/v2/timeline/dashboard"] [data-mutual-checker-hidden] article {
  display: none;
}
