@import "../lib/toggle-button.css";

span.xkit-mutual-activity-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

span.xkit-mutual-activity {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.6em;
}

span.xkit-mutual-activity svg {
  width: 21.5px;
  height: 21.5px;
  padding-right: 0.2em;
  fill: rgb(var(--accent));
}

label.xkit-mutual-activity {
  padding-right: 0.3em;
  color: rgb(var(--accent));
}

input[type="checkbox"].xkit-mutual-activity.toggle-button {
  cursor: pointer;
  --in-content-button-background: #9da6af54;
  --in-content-button-background-hover: rgb(var(--secondary-accent));
  --in-content-button-background-active: rgb(var(--accent));
  --in-content-primary-button-background: rgb(var(--accent));
  --in-content-primary-button-background-hover: rgb(var(--accent));
  --in-content-primary-button-background-active:  rgb(var(--secondary-accent));
}
