:root {
  --rgb-white: 255, 255, 255;
  --rgb-white-on-dark: 191, 191, 191;
  --rgb-black: 68, 68, 68;

  --navy: #36465d;
  --red: #d95e40;
  --orange: #f2992e;
  --yellow: #e8d738;
  --green: #56bc8a;
  --blue: #529ecc;
  --purple: #a77dc2;
  --pink: #748089;

  --accent: #529ecc;
  --secondary-accent: #e5e7ea;
  --follow: #f3f8fb;

  --white: rgb(var(--rgb-white));
  --white-on-dark: rgb(var(--rgb-white-on-dark));
  --black: rgb(var(--rgb-black));

  --transparent-white-65: rgba(var(--rgb-white-on-dark), 0.65);
  --transparent-white-40: rgba(var(--rgb-white-on-dark), 0.4);
  --transparent-white-25: rgba(var(--rgb-white-on-dark), 0.25);
  --transparent-white-13: rgba(var(--rgb-white-on-dark), 0.13);
  --transparent-white-7: rgba(var(--rgb-white-on-dark), 0.07);

  --gray-65: rgba(var(--rgb-black), 0.65);
  --gray-40: rgba(var(--rgb-black), 0.4);
  --gray-25: rgba(var(--rgb-black), 0.25);
  --gray-13: rgba(var(--rgb-black), 0.13);
  --gray-7: rgba(var(--rgb-black), 0.07);
}
