#quick-reblog {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 50%;
  transform: translate(50%, 12px);
  box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
  padding: 2px;
  border-radius: 3px;
  overflow: hidden;
  color: rgb(var(--black));
  background-color: rgb(var(--white));
  background-image: linear-gradient(rgba(var(--black), 0.13), rgba(var(--black), 0.13));
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

#glass-container #quick-reblog {
  top: 50%;
  right: 100%;
  transform: translate(-20px, -50%);
}

@media only screen and (max-width: 716px) {
  #quick-reblog {
    top: 50%;
    right: 100%;
    transform: translate(-20px, -50%);
  }
}

#quick-reblog select {
  font-family: var(--font-family);
  font-weight: bold;
}

#quick-reblog select,
#quick-reblog input {
  border: none;
  border-radius: 0;
  color: inherit;
  background-color: inherit;
  padding: 1ch;
  margin-bottom: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#quick-reblog .quick-tags {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#quick-reblog .quick-tags button {
  font-size: .875rem;
  text-align: left;
  color: rgb(var(--black));
  background-color: rgb(var(--white));
  opacity: 0.65;
  padding: 0.75ch 1ch;
  margin-bottom: 2px;
}

#quick-reblog .quick-tags button:hover {
  background-color: rgb(var(--secondary-accent));
  opacity: 1;
}

#quick-reblog .action-buttons {
  display: flex;
  flex-direction: row;
  position: relative;
}

#quick-reblog .action-buttons button {
  flex-grow: 1;
  font-weight: bold;
  padding: 1ch;
  background-color: rgb(var(--white));
}

#quick-reblog .action-buttons:enabled button:hover {
  background-color: rgb(var(--secondary-accent));
}

#quick-reblog .action-buttons button:not(:first-child) {
  margin-left: 2px;
}

#quick-reblog .action-buttons:disabled::before {
  content: "Processing…";
  font-weight: bold;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgb(var(--white));
  background-image: linear-gradient(rgba(var(--black), 0.13), rgba(var(--black), 0.13));
}

#quick-reblog button[data-state="published"] {
  color: rgb(var(--blue));
}

#quick-reblog button[data-state="queue"] {
  color: rgb(var(--pink));
}

#quick-reblog button[data-state="draft"] {
  color: rgb(var(--orange));
}

.published svg[fill="rgba(var(--black), 0.65)"] {
  fill: rgb(var(--green));
}

.queue svg[fill="rgba(var(--black), 0.65)"] {
  fill: rgb(var(--purple));
}

.draft svg[fill="rgba(var(--black), 0.65)"] {
  fill: rgb(var(--red));
}

/* XKit 7 override */

#x1cpostage_box {
  display: none !important;
}
