#quick-reblog {
  position: absolute;
  z-index: 97;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
  padding: 2px;
  border-radius: 3px;
  overflow: hidden;
  color: rgb(var(--black));
  background-color: rgb(var(--white));
  background-image: linear-gradient(rgba(var(--black), 0.13), rgba(var(--black), 0.13));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 250px;
}

@media (max-width: 650px) {
  #quick-reblog {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
  }
}

@media (min-width: 650px) {
  #quick-reblog {
    transform: translateX(50%);
  }

  #quick-reblog.above {
    bottom: 100%;
    right: 50%;
  }

  #quick-reblog.below {
    top: 100%;
    right: 50%;
  }
}

@media (min-width: 990px) {
  #quick-reblog.above {
    transform: translate(50%, -12px)
  }

  #quick-reblog.below {
    transform: translate(50%, 12px);
  }
}

@media (max-width: 990px) {
  [role="dialog"] #quick-reblog {
    top: 50%;
    bottom: unset;
    right: 100%;
    transform: translateY(-50%);
  }
}

@media (min-width: 990px) and (max-width: 1145px) {
  [role="dialog"] #quick-reblog {
    top: 50%;
    bottom: unset;
    right: 100%;
    transform: translate(-20px, -50%);
  }
}

div:first-child + span + #quick-reblog,
#quick-reblog:not(:last-child) {
  display: none;
}

#quick-reblog select,
#quick-reblog input {
  border: none;
  border-radius: 0;
  color: inherit;
  background-color: inherit;
  padding: 1ch;
  margin-bottom: 2px;
}

#quick-reblog select {
  padding-left: 0.5ch;

  font-family: var(--font-family);
  font-weight: bold;
}

#quick-reblog .quick-tags {
  font-size: .875rem;
  line-height: 1.125;
  --button-height: calc(1.125em + (0.75ch * 2) + 2px);
}

#quick-reblog .quick-tags:not([hidden]) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: calc(var(--button-height) * 4);
  overflow-y: auto;
}

#quick-reblog .quick-tags button {
  position: relative;

  flex-shrink: 0;
  overflow-x: hidden;
  padding: 0.75ch 1ch;
  padding-right: calc(1ch + 1em + 1ch);
  margin-bottom: 2px;

  background-color: rgb(var(--white));
  color: rgb(var(--black));
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  opacity: 0.65;
}

#quick-reblog .quick-tags button:hover {
  background-color: rgb(var(--secondary-accent));
  opacity: 1;
}

#quick-reblog .quick-tags button[data-checked="true"]::after {
  position: absolute;
  top: 50%;
  right: 1ch;
  z-index: 1;
  transform: translateY(-50%);

  display: inline-block;
  height: 1em;
  width: 1em;

  content: "\2713";
  line-height: 1;
}

#quick-reblog .action-buttons {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 200px;
}

#quick-reblog .action-buttons button {
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  font-weight: bold;
  padding: 1ch;
  background-color: rgb(var(--white));
}

#quick-reblog .action-buttons:enabled button:hover {
  background-color: rgb(var(--secondary-accent));
}

#quick-reblog .action-buttons button:not(:first-child) {
  margin-left: 2px;
}

#quick-reblog .action-buttons:disabled::before {
  content: "Processing…";
  font-weight: bold;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgb(var(--white));
  background-image: linear-gradient(rgba(var(--black), 0.13), rgba(var(--black), 0.13));
}

#quick-reblog button[data-state="published"] { color: rgb(var(--blue)); }
#quick-reblog button[data-state="queue"] { color: rgb(var(--pink)); }
#quick-reblog button[data-state="draft"] { color: rgb(var(--orange)); }

.published :is(a[role="button"], button[class=""]) svg[style*="--black"] use { --icon-color-primary: rgb(var(--green)); }
.queue :is(a[role="button"], button[class=""]) svg[style*="--black"] use { --icon-color-primary: rgb(var(--purple)); }
.draft :is(a[role="button"], button[class=""]) svg[style*="--black"] use { --icon-color-primary: rgb(var(--red)); }

:is(.published, .queue, .draft) :is(a[role="button"], button[class=""]) {
  position: relative;
}

:is(.published, .queue, .draft) :is(a[role="button"], button[class=""])::after {
  position: absolute;
  bottom: -2px;
  right: -4px;

  display: inline-block;
  padding: 2px;
  border-radius: 100%;

  background-color: rgb(var(--white));
  content: "\2713";
  font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}

@media (max-width: 989px) {
  :is(.published, .queue, .draft) :is(a[role="button"], button[class=""])::after {
    bottom: calc((27px / 2) - 2px);
    right: calc((27px / 2) - 4px);
  }
}

.published :is(a[role="button"], button[class=""])::after { color: rgb(var(--green)); }
.queue :is(a[role="button"], button[class=""])::after { color: rgb(var(--purple)); }
.draft :is(a[role="button"], button[class=""])::after { color: rgb(var(--red)); }

/* XKit 7 override */

#x1cpostage_box {
  display: none !important;
}
