.xkit_quick_queue_container {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 700;
  margin-left: 20px;
  position: relative;
  line-height: 1;
}

.xkit_quick_queue_container_span {
  vertical-align: top;
  display: inline-block;
  width: inherit;
}

.xkit_quick_queue_button {
  color: inherit;
  font: inherit;
}

.xkit_quick_queue_button_inner {
  display: block;
  color: inherit;
  font: inherit;
}
