#quick-tags {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 50%;
  transform: translate(50%, 12px);
  box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 250px;
  padding: 2px;
  border-radius: 3px;
  color: rgb(var(--black));
  background-color: rgb(var(--white));
  background-image: linear-gradient(rgba(var(--black), 0.13), rgba(var(--black), 0.13));
}

#quick-tags:empty::before {
  content: "No tag bundles are defined.";
  text-align: center;
  padding: 1ch;
}

#quick-tags button {
  color: inherit;
  background-color: inherit;
  text-align: initial;
  padding: 1ch;
}

#quick-tags button:not(:last-child) {
  margin-bottom: 2px;
}
