button.xkit-quote-replies {
  position: relative;
  align-self: center;
  transform: translateY(-2px);

  display: inline-flex;
  align-items: center;
  margin: 0 6px;

  cursor: pointer;
}

button.xkit-quote-replies svg {
  width: 21.5px;
  height: 21.5px;

  fill: rgb(var(--blue));
  transition: all .25s ease-out .4s;
}

button.xkit-quote-replies:disabled svg {
  fill: rgba(var(--black), 0.65);
  transition-property: none;
}

@media (hover: hover) {
  button.xkit-quote-replies svg {
    opacity: 0;
    transform: scale(0);
  }

  :is(:hover, :focus-within)>button.xkit-quote-replies svg {
    opacity: 1;
    transform: scale(1);
  }
}

body.xkit-quote-replies-touch button.xkit-quote-replies svg {
  opacity: 1;
  transform: scale(1);
}
