body:not(.xkit-seen-posts-only-dim-avatar) .xkit-seen-posts-seen:not(:hover),
body.xkit-seen-posts-only-dim-avatar .xkit-seen-posts-seen:not(:hover) article > :first-child img {
  opacity: 0.5;
}

body.xkit-seen-posts-hide .xkit-seen-posts-seen {
  display: none;
}