.xkit-shorten-posts-shortened {
  position: relative;
}

.xkit-shorten-posts-shortened article {
  max-height: calc(100vh - 54px - 40px);
  overflow-y: hidden;
  overflow-y: clip;
}

button.xkit-shorten-posts-expand {
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--post-header-vertical-padding) 0;
  border-top: 1px solid var(--gray-13);
}

.xkit-shorten-posts-done:not(.xkit-shorten-posts-shortened) button.xkit-shorten-posts-expand,
.xkit-shorten-posts-shortened[class*="-hidden"] button.xkit-shorten-posts-expand {
  display: none;
}

.xkit-shorten-posts-tags {
  background-color: var(--white);
  border-top: 1px dashed var(--gray-13);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: none;
}

.xkit-shorten-posts-tags [role="button"] {
  display: none;
}
