.xkit-shorten-posts-shortened {
  position: relative;
}

.xkit-shorten-posts-shortened article {
  overflow-y: hidden;
  overflow-y: clip;
  max-height: calc(100vh - 54px - 40px);
}

button.xkit-shorten-posts-expand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--post-header-vertical-padding) 0;
  border-top: 1px solid rgba(var(--black), 0.13);

  background-color: rgb(var(--white));
  color: rgb(var(--black));
  cursor: pointer;
}

.xkit-shorten-posts-done:not(.xkit-shorten-posts-shortened) button.xkit-shorten-posts-expand,
.xkit-shorten-posts-shortened[class*="-hidden"] button.xkit-shorten-posts-expand {
  display: none;
}

.xkit-shorten-posts-tags {
  max-height: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px dashed rgba(var(--black), 0.13);
  margin: 0;

  background-color: rgb(var(--white));
}

.xkit-shorten-posts-tags [role="button"] {
  display: none;
}
