[data-show-originals="on"] ~ [data-timeline] .xkit-show-originals-hidden article {
  display: none;
}

.xkit-show-originals-lengthened {
  min-height: 100vh;
}

.xkit-show-originals-controls {
  color: var(--blog-title-color, rgb(var(--white-on-dark)));
  display: flex;
  font-weight: 700;
  margin-bottom: 20px;
}

.xkit-show-originals-controls > a {
  flex: 1;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.xkit-show-originals-controls > a {
  cursor: pointer;
}

.xkit-show-originals-controls > a[data-mode="disabled"] {
  cursor: not-allowed;
  opacity: 0.65;
}

[data-show-originals="on"].xkit-show-originals-controls > a[data-mode="on"],
[data-show-originals="off"].xkit-show-originals-controls > a[data-mode="off"],
.xkit-show-originals-controls > a[data-mode="disabled"] {
  box-shadow: inset 0 -3px 0 var(--blog-link-color, rgb(var(--accent)));
  color: var(--blog-link-color, rgb(var(--accent)));
}
