.tag-replacer-tag {
  display: inline-block;
  padding: 0 0.5em;
  border-radius: 1em;
  margin: 0.25rem 0;

  background-color: rgb(var(--accent));
  color: rgb(var(--navy));
  font-size: 1rem;
  line-height: 1.5;
}
