.tag-replacer-tag,
.tag-replacer-blog {
  display: inline-block;

  font-size: 1rem;
  line-height: 1.5;
}

.tag-replacer-tag {
  padding: 0 0.5em;
  border-radius: 1em;
  margin: 0.25rem 0;

  background-color: rgb(var(--accent));
  color: rgb(var(--navy));
}

.tag-replacer-blog {
  font-weight: 700;
}

.tag-replacer-tag::before { content: '#'; }
.tag-replacer-blog::before { content: '@'; }
