#tag-tracking-plus ul::after {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 10px;

  background-color: rgba(var(--white-on-dark), 0.13);
  color: rgba(var(--white-on-dark), 0.6);
  font-size: .875rem;
}

#tag-tracking-plus ul:empty::after {
  content: 'No tracked tags!';
}

#tag-tracking-plus.only-show-new[data-loading="true"] ul:not(:empty)::after {
  content: 'Loading...';
}

#tag-tracking-plus.only-show-new[data-loading="false"][data-has-new="false"] ul:not(:empty)::after {
  content: 'No unread tags.';
}

#tag-tracking-plus.only-show-new li:not([data-new="true"]) {
  display: none;
}
