#tag-tracking-plus ul:empty::after {
  content: 'No tracked tags';

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 36px;
  padding: 5px 10px;
  color: rgba(var(--white-on-dark), 0.6);
}

#tag-tracking-plus.only-show-new[data-loading="true"] ul:not(:empty)::after {
  content: 'loading...';

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 36px;
  padding: 5px 10px;
  color: rgba(var(--white-on-dark), 0.6);
}

#tag-tracking-plus.only-show-new[data-loading="false"][data-has-new="false"] ul:not(:empty)::after {
  content: 'No unread tags';

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 36px;
  padding: 5px 10px;
  color: rgba(var(--white-on-dark), 0.6);
}

#tag-tracking-plus.only-show-new li:not([data-new="true"]) {
  display: none;
}
