.xkit-timestamp {
  font-weight: normal;
  text-decoration: none;
  margin-right: auto;
}

:not(:empty) + .xkit-timestamp {
  margin-left: var(--post-padding);
}

.xkit-reblog-timestamp {
  align-self: center;
  font-weight: normal;
  color: var(--gray-65);
  margin-left: auto;
  padding-left: 1ch;
}
