.mass-privater-tag,
.mass-privater-blog {
  display: inline-block;

  font-size: 1rem;
  line-height: 1.5;
}

.mass-privater-tag {
  padding: 0 0.5em;
  border-radius: 1em;
  margin: 0.25rem 0;

  background-color: rgb(var(--deprecated-accent));
  color: rgb(var(--navy));
}

.mass-privater-blog {
  font-weight: 700;
}

.mass-privater-tag::before { content: '#'; }
.mass-privater-blog::before { content: '@'; }

.mass-privater-failed {
  margin-top: 1em;
}
.mass-privater-failed > ul {
  max-height: 300px;
  overflow-y: auto;
}
.mass-privater-failed > ul > li {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  list-style-type: none;
}
.mass-privater-failed:has(> ul:empty) {
  display: none;
}
