.xkit-mute-active [data-mute-hidden] article,
[data-muted-blog-controls-mode='original'] ~ div [data-muted-blog-controls-hidden] article,
[data-muted-blog-controls-mode='reblogged'] ~ div [data-muted-blog-controls-hidden] article {
  display: none;
}

/* prevents endless post loading by preserving post height */
[data-muted-blog-controls-mode='all'] ~ div article,
[data-muted-blog-controls-mode='all'] ~ div article :is(img, video, canvas) {
  visibility: hidden !important;
}

.xkit-mute-lengthened {
  min-height: 100vh;
}

.xkit-muted-blog-controls {
  padding: 25px 20px;
  border-radius: 3px;
  margin-bottom: var(--post-padding);

  background-color: var(--blog-title-color-15, rgba(var(--white-on-dark), 0.25));
  color: var(--blog-title-color, rgba(var(--white-on-dark)));

  font-weight: 700;
  text-align: center;
  line-height: 1.5em;
}

.xkit-muted-blog-controls button {
  color: var(--blog-link-color, rgb(var(--deprecated-accent)));
}
