.xkit-timestamp {
  margin-right: auto;

  font-weight: normal;
  text-decoration: none;
}

:not(:empty) + .xkit-timestamp {
  margin-left: var(--post-padding);
}

.xkit-long-timestamp {
  height: 1em;
  padding: 0 var(--post-padding);
  margin-bottom: var(--post-header-vertical-padding);
  margin-top: calc(0px - (var(--post-header-vertical-padding) / 2));

  color: rgba(var(--black), 0.65);
  font-size: .875rem;
  line-height: 1em;
}

@media (max-width: 989px) {
  .xkit-long-timestamp {
    margin-top: calc(var(--post-header-vertical-padding) / 2);
  }
}

.xkit-reblog-timestamp {
  align-self: center;

  padding-left: 1ch;
  margin-left: auto;

  color: rgba(var(--black), 0.65);
  font-weight: normal;
}

/* XKit 7 override */

.xkit-timestamps-done .xtimestamp:not(.xtimestamp-reblog),
.xkit-reblog-timestamps-done .xtimestamp-reblog {
  display: none;
}
