:host {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  padding: 4px;
}

label {
  align-self: flex-start;
}

textarea {
  align-self: stretch;

  padding: 4px;
  border: none;
  border-radius: 3px;
  resize: none;

  background-color: Field;
  color: FieldText;
  scrollbar-color: GrayText Field;
  scrollbar-width: thin;
}

textarea:focus {
  background-color: rgb(var(--active-grey));
}
