:root {
  --black: 21, 20, 25;
  --white: 255, 255, 255;
  --light-grey: 223, 223, 229;
  --dark-grey: 207, 207, 216;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: 251, 251, 254;
    --white: 66, 65, 77;
    --light-grey: 83, 83, 94;
    --dark-grey: 91, 91, 102;
  }
}

html {
  font-size: 14px;
  scrollbar-color: rgb(var(--dark-grey)) transparent;
  scrollbar-width: thin;
  overflow-y: hidden;
}

body {
  padding: 3px;

  background-color: rgb(var(--white));
  color: rgb(var(--black));
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  -webkit-user-select: none;
  user-select: none;
}

section:not(:last-child) {
  padding-bottom: 1ch;
  border-bottom: 1px solid rgb(var(--dark-grey));
  margin-bottom: 1em;
}

h3 {
  margin-top: 0;
  margin-bottom: 1rem;
}

input[type="text"] {
  padding: 4px 8px;
  border: none;
  border-radius: 3px;

  background-color: rgb(var(--light-grey));
  color: rgb(var(--black));
}

#new-bundle {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  align-items: center;
  margin: 0;
}

#new-bundle label {
  grid-column: 1;
}

#new-bundle input {
  grid-column: 2;
}

#new-bundle input:focus {
  background-color: rgb(var(--dark-grey));
}

#new-bundle button {
  grid-column: 1 / 3;
}

#bundles {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

#bundles:empty::before {
  content: "No tag bundles are defined.";
}

.bundle {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1ch;
  align-items: center;
  border-top: 1px solid rgb(var(--light-grey));
}

.bundle:last-child {
  border-bottom: 1px solid rgb(var(--light-grey));
}

.bundle .move-buttons {
  display: flex;
  flex-direction: column;
}

.bundle button {
  padding: 3px;
  border: none;

  cursor: pointer;
  background: none;
}

.bundle button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.bundle button i {
  color: rgb(var(--black));
  font-size: 1.5em;
}

.bundle .drag-handle {
  cursor: grab;
}

.bundle .drag-handle:active {
  cursor: grabbing;
}

.bundle div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1ch 0;
}

.bundle .title {
  margin-bottom: 0.5ch;
}

.bundle input {
  box-sizing: border-box;
  width: 0;
  min-width: 100%;
}

.bundle input:disabled {
  overflow-x: hidden;
  border: none;

  color: rgb(var(--black));
  background: transparent;
  text-overflow: ellipsis;
}

.bundle input.title:disabled {
  font-weight: bold;
}

.bundle .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.bundle .controls > :not(:first-child) {
  margin-left: 1ch;
}
