html {
  overflow-y: hidden;
  scrollbar-width: thin;
}

body {
  padding: var(--space-xsmall);

  -webkit-user-select: none;
  user-select: none;
}

section,
fieldset {
  margin-block-start: var(--space-large);
}

input + label {
  margin-block-start: var(--space-small);
}

#bundles {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

#bundles:empty::before {
  content: "No tag bundles are defined.";
}

.bundle {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1ch;
  align-items: center;
}

.bundle + .bundle {
  border-top: 1px dotted var(--border-color-deemphasized);
}

.bundle button {
  padding: 3px;
  border: none;

  cursor: pointer;
  background: none;
}

.bundle button i {
  color: var(--text-color);
  font-size: 21px;
}

.bundle .drag-handle {
  cursor: grab;
}

.bundle .drag-handle:active {
  cursor: grabbing;
}

.bundle div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1ch 0;
}

.bundle .title {
  margin-bottom: 0.5ch;
}

.bundle input {
  width: 0;
  min-width: 100%;
}

.bundle input:disabled {
  min-height: min-content;
  overflow-x: hidden;
  padding: 0;
  border: none;

  color: inherit;
  background: transparent;
  text-overflow: ellipsis;
}

.bundle input.title:disabled {
  font-weight: bold;
}

.bundle .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: var(--space-xsmall);
  align-items: center;
}
