[data-muted-blog-controls-mode='original'] ~ div [data-muted-blog-controls-hidden],
[data-muted-blog-controls-mode='reblogged'] ~ div [data-muted-blog-controls-hidden] {
  content: linear-gradient(transparent, transparent);
  height: 0;
}

/* prevents endless post loading by preserving post height */
[data-muted-blog-controls-mode='all'] ~ div article,
[data-muted-blog-controls-mode='all'] ~ div article :is(img, video, canvas) {
  visibility: hidden !important;
}

.xkit-mute-lengthened {
  min-height: 100vh;
}
