body {
  font-size: 100%;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0 1ch;
}

h1 {
  text-align: center;
  padding: 0 0.67em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
}

nav a {
  color: #7c5cff;
  line-height: 1em;
  font-weight: bold;
  text-decoration: none;
  padding: 1ch;
  border-radius: 1ch;
  margin: 0 1ch;
}

nav a:active, nav a.selected {
  color: white;
  background-color: #7c5cff;
}

section {
  min-width: 350px;
}

section:not(.open) {
  display: none;
}

section.open:empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

section.open:empty::before {
  content: "No one's around to help.";
}

section h2 {
  text-align: center;
}

#scripts fieldset {
  margin: 0.5ch 0;
}

#scripts fieldset.hidden > :not(legend) {
  display: none;
}

#scripts fieldset:last-child {
  margin-bottom: 1ch;
}

#scripts fieldset .meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5ch;
}

#scripts fieldset .meta .icon {
  align-self: flex-start;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 0.5ch;
}

#scripts fieldset .meta p {
  margin: 0;
}

#scripts fieldset ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#scripts fieldset li {
  display: flex;
  align-items: center;
  padding: 0.5ch 0;
}

#scripts fieldset li:first-child:not(:last-child) {
  padding-bottom: 1ch;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

#scripts fieldset li:first-child + li {
  padding-top: 1ch;
}

#news, #links {
  margin: 1em 0;
  padding: 0 1em;
}

#news:empty::before {
  content: "It feels like 18th April 1930 in here.";
}

#links ul {
  padding-left: 1em;
}

#links li {
  margin-bottom: 1ch;
}

label:not(:first-child),
input:not(:first-child),
select:not(:first-child) {
  margin-left: 1ch;
}
