body {
  font-size: 100%;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

main {
  min-width: 350px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #dddddd;
}

h1 {
  text-align: center;
  padding: 0 0.67em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
  flex-grow: 1;
  text-align: center;
  color: #444444;
  line-height: 1em;
  font-weight: bold;
  text-decoration: none;
  padding: 1ch;
  border-radius: 5px 5px 0 0;
}

nav a:active, nav a.selected {
  color: black;
  background-color: white;
}

section:not(.open) {
  display: none;
}

section.open:empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

section.open:empty::before {
  content: "No one's around to help.";
}

section h2 {
  text-align: center;
}

.finder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 1ch;
  border-bottom: 1px solid #dddddd;
}

.finder div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.finder div:first-child {
  flex-grow: 1;
}

.finder div + div {
  margin-left: 1ch;
}

#search {
  width: 175px;
  min-width: calc(100% - 16px);
}

.no-results {
  display: none;
  justify-content: center;
  align-items: center;
}

.script.search-hidden,
.script.filter-hidden {
  display: none;
}

.script + .script {
  border-top: 1px dotted #444444;
}

.script summary {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1ch;
}

.script summary::-webkit-details-marker {
  display: none;
}

.script.disabled summary {
  color: #444444;
}

.script:hover:not([open]) summary {
  background-color: #efefef;
}

.script[open] summary {
  background-color: #d9eefc;
}

.script .icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.script .meta {
  margin-left: 1ch;
}

.script .title,
.script .description {
  margin: 0;
}

.script.disabled .title::after {
  content: "(disabled)";
  margin-left: 0.5ch;
  font-weight: normal;
}

.script ul {
  padding: 0 1ch;
  margin: 1ch 0;
  list-style-type: none;
}

.script li {
  display: flex;
  align-items: center;
  padding: 0.5ch 0;
}

.script li:first-child:not(:last-child) {
  padding-bottom: 1.5ch;
  border-bottom: 1px solid #dddddd;
}

.script li:first-child + li {
  padding-top: 1.5ch;
}

#news, #links {
  margin: 1em 0;
  padding: 0 1em;
}

#news h2 {
  text-align: left;
}

#links ul {
  padding-left: 1em;
}

#links li {
  margin-bottom: 1ch;
}

label:not(:first-child),
input:not(:first-child),
select:not(:first-child) {
  margin-left: 1ch;
}
