body {
  font-size: 100%;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0 1ch;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

h1 {
  text-align: center;
  padding: 0 0.67em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1em;
}

nav a {
  margin: 0 1ch;
}

section:not(:target) {
  display: none;
}

section h2 {
  text-align: center;
}

#scripts fieldset {
  margin: 0.5ch 0;
}

#scripts fieldset:last-child {
  margin-bottom: 1ch;
}

#scripts fieldset .meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5ch;
}

#scripts fieldset .meta .icon {
  align-self: flex-start;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 0.5ch;
}

#scripts fieldset .meta p {
  margin: 0;
}

#scripts fieldset ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#scripts fieldset li {
  display: flex;
  align-items: center;
  padding: 0.5ch 0;
}

#scripts fieldset li:first-child:not(:last-child) {
  padding-bottom: 1ch;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

#scripts fieldset li:first-child + li {
  padding-top: 1ch;
}

#scripts fieldset label:not(:first-child),
#scripts fieldset input:not(:first-child),
#scripts fieldset select:not(:first-child) {
  margin-left: 1ch;
}
