.xkit-control-button-container {
  position: relative;

  margin-left: 20px;

  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

.xkit-control-button {
  color: inherit;
  font: inherit;
}

.xkit-control-button-inner {
  display: block;

  color: inherit;
  font: inherit;
}

.xkit-control-button-inner svg {
  width: 24px;
  height: 24px;

  fill: rgba(var(--black), 0.65);
}

@media (max-width: 990px) {
  .xkit-control-button-container {
    margin-left: 0;
  }

  .xkit-control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
  }
}
