.xkit-control-button-container {
  position: relative;

  margin-left: 20px;

  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

.xkit-control-button {
  color: inherit;
  font: inherit;
}

.xkit-control-button:disabled {
  cursor: not-allowed;
}

.xkit-control-button:disabled svg {
  opacity: 0.5;
}

.xkit-control-button-inner {
  display: block;

  color: inherit;
  font: inherit;
}

.xkit-control-button-inner svg {
  width: 24px;
  height: 24px;

  fill: var(--content-fg-secondary);
}


.xkit-control-button-container.in-legacy-footer .xkit-control-button-inner svg {
  fill: rgba(var(--black), 0.65);
}

.xkit-control-button-container.in-legacy-footer .xkit-control-button:disabled svg {
  opacity: unset;
  fill: rgba(var(--black), 0.4);
}

@media not (min-width: 990px) {
  .xkit-control-button-container.in-legacy-footer {
    margin-left: 0;
  }

  .xkit-control-button-container.in-legacy-footer .xkit-control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
  }
}


.xkit-control-button-container:is(.in-new-footer, .in-community) {
  margin-left: 0;
}

.xkit-control-button-container:is(.in-new-footer, .in-community) .xkit-control-button {
  border-radius: 9999px;
}

.xkit-control-button-container:is(.in-new-footer, .in-community) .xkit-control-button-inner {
  display: flex;
  padding: 8px;
}


.xkit-control-button-container.in-community {
  align-self: center;
}

.xkit-control-button-container.in-community .xkit-control-button {
  outline: 1px solid var(--content-tint-strong);
  outline-offset: -1px;
}

.xkit-control-button-container.in-community .xkit-control-button:is(:active, :hover) {
  outline: 1px solid var(--content-tint-heavy);
}

.xkit-control-button-container.in-community .xkit-control-button:focus {
  outline: 2px solid var(--accent);
  outline-offset: -2px;
}

.xkit-control-button-container.in-community .xkit-control-button:disabled {
  outline: 1px solid var(--content-tint);
}

.xkit-control-button-container.in-community .xkit-control-button svg {
  scale: calc(20 / 24);
}

.xkit-control-button-container.in-community .xkit-control-button:disabled svg {
  fill: var(--content-fg-tertiary);
}


.xkit-controls-row {
  position: relative;

  display: flex;
  justify-content: flex-end;
  column-gap: 4px;
  padding: 12px 8px;
}

.xkit-controls-row::after {
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 12px;

  border-bottom: 1px solid rgba(var(--black), .13);
  content: '';
}

@media (max-width: 540px) {
  .xkit-controls-row {
    column-gap: 0;
  }
}
