.xkit-meatball-button {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-top: 1px solid rgba(var(--black), 0.13);

  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

.xkit-meatball-button[hidden] {
  display: none;
}

.xkit-meatball-button:not([hidden]) ~ .xkit-meatball-button {
  border-top: none;
}

.xkit-meatball-button:hover,
.xkit-meatball-button:focus {
  background-color: rgb(var(--secondary-accent));
}

.xkit-meatball-button:disabled {
  background-color: transparent;
  cursor: not-allowed;
  opacity: 65%;
}

.xkit-meatball-button::before {
  content: "[XKit] ";
  white-space: pre-wrap;
}
