#xkit-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 201;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: rgba(var(--navy), 0.85);
  color: rgb(var(--white-on-dark));
  text-align: center;
}

#xkit-modal > * {
  box-sizing: border-box;
  max-width: 540px;
  padding-left: 32px;
  padding-right: 32px;
}

#xkit-modal .title {
  font-family: var(--font-family);
  font-size: 1.625rem;
  font-weight: bolder;
  line-height: 1.3077;
}

#xkit-modal .message {
  padding-top: 20px;
  padding-bottom: 10px;

  font-family: var(--font-family);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.333;
  white-space: pre-line;
}

#xkit-modal .message small {
  font-size: 80%;
}

#xkit-modal .message :is(ol, ul) {
  display: block;
  box-sizing: border-box;
  width: max-content;
  max-width: 100%;
  padding-left: 2ch;
  margin: 1em auto 0;

  text-align: left;
}

#xkit-modal .message :is(form, table) {
  box-sizing: border-box;
  width: 476px;
  border-radius: 8px;

  background-color: rgb(var(--navy));
  box-shadow: 0 0 1px rgba(var(--white-on-dark), 0.13);
  font-size: 1rem;
  line-height: 1.5;
}

#xkit-modal .message form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

#xkit-modal .message form label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1ex;

  text-align: left;
}

#xkit-modal .message form :is(input[type="text"], select) {
  box-sizing: border-box;
  width: 220px;

  font-size: 0.875rem;
}

#xkit-modal .message table {
  border-collapse: separate;
  border-spacing: 1ch;
  text-align: left;
}

#xkit-modal .message table th {
  font-weight: bold;
}

#xkit-modal .message table td[title] {
  cursor: help;
}

#xkit-modal .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top: 15px;
}

#xkit-modal .buttons :is(a, button, input) {
  padding: 0.75ch 1.5ch;
  border: none;
  border-radius: 3px;

  appearance: none;
  background-color: rgba(var(--white-on-dark), 0.65);
  color: rgb(var(--navy));
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

#xkit-modal .buttons :disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}

#xkit-modal .buttons :is(a, button, input).red {
  background-color: rgb(var(--red));
}

#xkit-modal .buttons :is(a, button, input).blue {
  background-color: rgb(var(--blue));
}

.xkit-modal-tag,
.xkit-modal-blog {
  display: inline-block;

  font-size: 1rem;
  line-height: 1.5;
}

.xkit-modal-tag {
  padding: 0 0.5em;
  border-radius: 1em;
  margin: 0.25rem 0;

  background-color: rgb(var(--deprecated-accent));
  color: rgb(var(--navy));
}

.xkit-modal-blog {
  font-weight: 700;
}

.xkit-modal-tag::before {
  content: "#";
}
.xkit-modal-blog::before {
  content: "@";
}
