#xkit-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 201;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: rgba(var(--navy), 0.95);
  color: rgb(var(--white-on-dark));
}

#xkit-modal > * {
  padding-left: 32px;
  padding-right: 32px;
}

#xkit-modal .title {
  font-family: var(--font-family);
  font-size: 1.625rem;
  font-weight: bolder;
  line-height: 1.3077;
}

#xkit-modal .message {
  padding-top: 20px;
  padding-bottom: 10px;

  font-family: var(--font-family);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.333;
}

#xkit-modal .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 15px;
}

#xkit-modal .buttons button {
  padding: 0.75ch 1.5ch;
  border-radius: 3px;
  margin: 0 1ch;

  background-color: rgba(var(--white-on-dark), 0.65);
  color: rgb(var(--navy));
	font-family: var(--font-family);
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5;
}

#xkit-modal .buttons button.red {
  background-color: rgb(var(--red));
}

#xkit-modal .buttons button.blue {
  background-color: rgb(var(--blue));
}
