#xkit-toasts {
  position: fixed;
  bottom: 0;
  z-index: 99;

  width: 100%;
}

#xkit-toasts:empty {
  display: none;
}

#xkit-toasts div {
  padding: 10px;

  background-color: rgb(var(--navy));
  background-image: linear-gradient(rgba(var(--white-on-dark), .07), rgba(var(--white-on-dark), .07));
  color: rgb(var(--white-on-dark));
  font-family: var(--font-family);
  line-height: 1.5;
  text-align: center;

  opacity: 0;
  transition: opacity 1s;
}

#xkit-toasts div.visible {
  opacity: 1;
}

#xkit-toasts div:not(:last-child) {
  border-bottom: 2px solid rgba(var(--white-on-dark), .13);
}

aside #xkit-toasts {
  width: 320px;
  margin-bottom: 1ch;
}

aside #xkit-toasts div {
  text-align: left;
}

#glass-container #xkit-toasts {
  position: absolute;
}
