#xkit-toasts {
  position: fixed;
  bottom: 0;
  z-index: 99;

  width: 100%;
}

#xkit-toasts:empty {
  display: none;
}

#xkit-toasts div {
  padding: 10px;
  border-top: 1px solid rgba(var(--white-on-dark), 0.13);

  background-color: rgb(var(--navy));
  background-image: linear-gradient(
    rgba(var(--white-on-dark), 0.07),
    rgba(var(--white-on-dark), 0.07)
  );
  color: rgb(var(--white-on-dark));
  font-family: var(--font-family);
  line-height: 1.5;
  text-align: center;

  opacity: 0;
  transition: opacity 1s;
}

#xkit-toasts div.visible {
  opacity: 1;
}

#xkit-toasts[data-in-sidebar="true"] {
  margin-bottom: 1ch;
}

#xkit-toasts[data-in-sidebar="true"] div {
  border-top: none;
  text-align: left;
}

#xkit-toasts[data-in-sidebar="true"] div:not(:last-child) {
  border-bottom: 1px solid rgba(var(--white-on-dark), 0.13);
}

[role="dialog"] #xkit-toasts[data-in-sidebar="false"] {
  position: absolute;
}
