.xkit-post-actions {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-left: auto;
}

.xkit-post-option {
  position: relative;

  padding-top: 1px;
  padding-right: 10px;

  text-align: center;
}

.xkit-post-option svg {
  width: 22px;
  height: 22px;

  fill: rgba(var(--black), 0.4);
}
