.xkit-sidebar-item {
  width: 100%;
  margin-bottom: 38px;

  font-family: var(--font-family);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.333;
}

.xkit-sidebar-item > h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px;
  border-bottom: 2px solid rgba(var(--white-on-dark), 0.13);

  color: rgb(var(--white-on-dark));
  font-family: var(--font-family);
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1.2;
}

.xkit-sidebar-item > h1::after {
  content: "XKit";
  font-size: 0.875rem;
  font-weight: normal;
  opacity: 0.65;
}

.xkit-sidebar-item ul,
.xkit-sidebar-item li {
  padding: 0;
  margin: 0;

  list-style: none;
}

.xkit-sidebar-item ul {
  color: rgb(var(--white-on-dark));
}

.xkit-sidebar-item li {
  padding: 5px 10px;
}

.xkit-sidebar-item li:hover {
  background-color: rgba(var(--white-on-dark), 0.07);
}

.xkit-sidebar-item li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 36px;

  color: inherit;
  cursor: pointer;
  font: inherit;
  text-align: left;
  text-decoration: none;
}

.xkit-sidebar-item svg {
  fill: rgba(var(--white-on-dark), 0.65);
}

.xkit-sidebar-item .count {
  display: inline-block;
  margin-left: 5px;

  color: rgba(var(--white-on-dark), 0.65);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: right;
}

nav .xkit-sidebar-item {
  margin-bottom: 0.75em;
}

nav .xkit-sidebar-item > h1 {
  padding: 5px 18px;
  border-bottom: none;

  line-height: 1.5238;
}

nav .xkit-sidebar-item li {
  padding: 0;
}

nav .xkit-sidebar-item li:hover {
  background-color: transparent;
}

nav .xkit-sidebar-item li a {
  box-sizing: border-box;
  min-height: 41px;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 18px;
}

nav .xkit-sidebar-item svg {
  width: 23px;
  height: 16px;
}
