#backup details {
  padding: 1ch;
}

#backup details > .content {
  margin-top: 0.5em;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#backup details[open] ~ details summary ~ * {
  display: none;
}

#backup h4 {
  display: inline-block;
  margin: 0;
}

#backup label {
  margin: 0;
}

#backup pre {
  width: 0;
  min-width: 100%;

  -webkit-user-select: all;
  user-select: all;
}

#backup pre,
#backup textarea {
  box-sizing: border-box;
  max-height: calc(10em + 2ch);
  overflow: auto;
  overflow-wrap: break-word;
  padding: 1ch;
  border: none;
  margin: 0;

  background-color: rgb(var(--passive-grey));
  color: rgb(var(--black));
  font-family: monospace;
  font-size: smaller;
  white-space: pre;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-container button {
  padding: 0;
  border: none;
  margin: 0;

  background-color: inherit;
  color: rgb(var(--accent));
  cursor: pointer;
  font-weight: bold;
}

#copy-local.copied::after {
  margin-left: 1ch;

  content: "Copied!";
  color: rgb(var(--black));
  font-weight: normal;

  transition: opacity 1s;
  opacity: 1;
}

#copy-local.copied.fading::after {
  opacity: 0;
}

#import {
  border-top: 1px dotted rgb(var(--active-grey));
}

#restore-local {
  display: block;
  width: 100%;

  text-align: center;
}

#restore-local:empty::before {
  content: "Restore";
}

#restore-local.success {
  border: none;

  background-color: transparent;
  color: #00cf35;
  font-weight: bold;
}

#restore-local.failure {
  border: none;

  background-color: transparent;
  color: #cf0000;
  font-weight: bold;
}
