#backup-panel section {
  padding: 8px;
}

#backup-panel section:first-child {
  border-bottom: 1px dotted rgb(var(--active-grey));
}

#backup-panel section form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  row-gap: 8px;
  margin-block-start: 0;
  margin-block-end: 8px;
}

#backup-panel section textarea {
  overflow: auto;
  overflow-wrap: break-word;
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 3px;
  resize: none;
  margin: 0;

  background-color: rgb(var(--passive-grey));
  color: rgb(var(--black));
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: smaller;
  scrollbar-color: rgba(var(--black), 0.5) rgb(var(--passive-grey));
  scrollbar-width: thin;
  white-space: pre;
}

#backup-panel section fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  border: none;
  margin: 0;
}

#backup-panel section fieldset button {
  padding: 0;
  border: none;
  margin: 0;

  background-color: inherit;
  color: rgb(var(--accent));
  cursor: pointer;
  font-weight: bold;
}

#export-copy.copied::after {
  margin-left: 1ch;

  content: "Copied!";
  color: rgb(var(--black));
  font-weight: normal;

  transition: opacity 1s;
  opacity: 1;
}

#export-copy.copied.fading::after {
  opacity: 0;
}

#import-submit {
  display: block;
  width: 100%;

  text-align: center;
}

#import-submit:is(.success, .failure) {
  background-color: transparent;
  border-color: transparent;
  font-weight: bold;
}

#import-submit.success { color: #00cf35; }
#import-submit.failure { color: #cf0000; }

#import-warning[data-force-hidden="false"],
#import-warning:where([data-hidden="false"]) {
  display: flex;
  justify-content: center;
}
#import-warning[data-force-hidden="true"],
#import-warning:where([data-hidden="true"]) {
  display: none;
}
