.finder {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1ch;
  border-bottom: 1px solid rgb(var(--active-grey));

  background-color: rgb(var(--white));
}

#search {
  width: 0;
  flex-basis: 0;
  flex-grow: 1;
}

label[for="filter"] {
  margin-left: 2ch;
}

.no-results {
  display: none;
  justify-content: center;
  align-items: center;
}

.scripts:empty::before {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  color: rgb(var(--active-grey));
  content: "Loading...";
  font-size: 1.3125rem;
  font-weight: 700;
}

.script.search-hidden,
.script.filter-hidden {
  display: none;
}

.script {
  border-bottom: 1px dotted rgb(var(--active-grey));
}

.script summary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1ch;

  cursor: pointer;
}

.script summary::-webkit-details-marker {
  display: none;
}

.script.disabled summary {
  color: rgba(var(--black), .8);
}

.script summary:hover {
  background-color: rgb(var(--passive-grey));
}

.script summary:focus {
  background-color: rgb(var(--active-grey));
}

.script .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.script .icon i {
  font-size: 26px;
}

.script .icon,
.script .meta,
.script .help {
  margin-right: 1ch;
}

.script .icon,
.script .buttons {
  flex-shrink: 0;
}

.script .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.script .help {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.script .help:not([href]) i {
  display: none;
}

.script .help:not([href])::before {
  padding: 0 1ex;
  border-radius: 1em;

  background-color: orange;
  color: rgb(var(--white));
  content: 'New!';
  line-height: 1.5;
}

.script .help i {
  font-size: 1.25rem;
}

.script .title,
.script .description {
  margin: 0;
}

.script.disabled .title::after {
  content: "(disabled)";
  margin-left: 0.5ch;
  font-weight: normal;
}

.script:not(.disabled)[data-deprecated="true"] .title::after {
  content: attr(data-deprecation-reason);
  margin-left: 0.5ch;
  font-weight: normal;
}

.script .note {
  padding: 1ch 2ch;
  margin: 0;

  background-color: var(--in-content-box-info-background);
  font-size: 0.875rem;
  text-align: center;
}

.script .note:empty {
  display: none;
}

.script ul.preferences {
  padding: 0 0.5ch;
  margin: 1ch 0;

  list-style-type: none;
}

.script .preferences:empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.script .preferences:empty::before {
  content: "No preferences available for this script.";
}

.script li {
  display: flex;
  align-items: center;
  padding: 0.5ch;
}

.script li.search-highlighted {
  background-color: rgb(var(--search-highlight));
}

.script input[type="text"] {
  box-sizing: border-box;
  width: 65%;
}

.script input[type="text"],
.script select {
  margin-left: auto;
}

.script iframe {
  border: none;
  width: 100%;
}
