#configuration-panel [role="search"] {
  position: sticky;
  top: 0;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 7.5px;
  padding: 8px;
  border-bottom: 1px solid var(--border-color);

  background-color: var(--background-color-canvas);
}

#searchbox {
  width: 0;
  flex-basis: 0;
  flex-grow: 1;
}

.no-results {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

.features {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  border-radius: 8px;
  margin: 8px;
  overflow: hidden;

  background-color: var(--border-color);
  outline: 1px solid var(--border-color);
  outline-offset: 0;
}

.features:empty {
  background-color: transparent;
  margin: 0;
  outline: none;
}

.features:empty::before {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;

  color: var(--text-color-deemphasized);
  content: "Loading…";
  font-size: 17px;
  font-weight: 600;
}
