#links-panel {
  padding: 8px;
}

#links-panel ul {
  padding-inline: 16px;
  margin-block-start: 0;
  margin-block-end: 16px;
}

#links-panel ul:last-child {
  margin-block-end: 8px;
}

#links-panel ul li {
  margin-bottom: 8px;
}

#links-panel a {
  font-weight: bold;
  text-decoration: none;
}

#links-panel :link,
#links-panel :visited {
  color: rgb(var(--accent));
}

#version {
  margin-left: 1ch;
  user-select: all;
}

#version::before {
  content: "v";
}
