#links-panel {
  position: relative;

  margin: 1em 0;
  padding: 0 1em;
}

#links-panel h4 {
  margin-bottom: 0;
}

#links-panel ul {
  padding-left: 1em;
}

#links-panel h4 + ul {
  margin-top: 1ch;
}

#links-panel li {
  margin-bottom: 1ch;
}

#links-panel a {
  font-weight: bold;
  text-decoration: none;
}

#links-panel :link,
#links-panel :visited {
  color: rgb(var(--accent));
}

#version {
  margin-left: 1ch;
  user-select: all;
}

#version::before {
  content: "v";
}
