#links {
  position: relative;

  margin: 1em 0;
  padding: 0 1em;
}

#links h4 {
  margin-bottom: 0;
}

#links ul {
  padding-left: 1em;
}

#links h4 + ul {
  margin-top: 1ch;
}

#links li {
  margin-bottom: 1ch;
}

#links a {
  font-weight: bold;
  text-decoration: none;
}

#links :link,
#links :visited {
  color: rgb(var(--accent));
}

#version {
  margin-left: 1ch;
  user-select: all;
}

#version::before {
  content: "v";
}

#version::after {
  content: " (Beta)";
}
