:root {
  --in-content-button-background: #9da6af54;
  --in-content-button-background-hover: #9da6afa8;
  --in-content-button-background-active: #9da6af;
  --in-content-primary-button-background: #0061e0;
  --in-content-primary-button-background-hover: #0250bb;
  --in-content-primary-button-background-active: #053e94;
  --in-content-box-info-background: #f0f0f4;

  --black: 21, 20, 25;
  --white: 255, 255, 255;
  --accent: 10, 132, 255;
  --passive-grey: 223, 223, 229;
  --active-grey: 207, 207, 216;

  --search-highlight: 255, 233, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --in-content-button-background: #2b2a33;
    --in-content-button-background-hover: #52525e;
    --in-content-button-background-active: #5b5b66;
    --in-content-primary-button-background: #00ddff;
    --in-content-primary-button-background-hover: #80ebff;
    --in-content-primary-button-background-active: #aaf2ff;
    --in-content-box-info-background: #36353e;

    --black: 251, 251, 254;
    --white: 66, 65, 77;
    --accent: 54, 213, 255;
    --passive-grey: 83, 83, 94;
    --active-grey: 91, 91, 102;

    --search-highlight: 0, 62, 170;
  }
}

html {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: scroll;

  font-size: 14px;
  scrollbar-color: rgb(var(--active-grey)) rgb(var(--white));
}

html,
main {
  width: 375px;
  min-width: 100%;
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;

  background-color: rgb(var(--white));
  color: rgb(var(--black));
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  user-select: none;
}

#permissions-banner,
#embedded-banner {
  box-sizing: border-box;
  width: 375px;
  min-width: 100%;
  max-width: 100%;
  padding: 8px 4px;
  border-bottom: 1px solid rgb(var(--active-grey));

  text-align: center;
}

#grant-host-permission {
  display: block;
  padding: 0.5ch 1ch;
  border-radius: 0.5ch;
  margin: 8px auto 0;

  font-family: "Courier New", Courier, monospace;
  line-height: 1;
}

#grant-host-permission:focus {
  outline: 2px solid rgb(var(--accent));
}

#permissions-banner:not([hidden]) + #embedded-banner {
  display: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 4px;
  border-bottom: 1px solid rgb(var(--active-grey));
}

nav a {
  flex-grow: 1;
  padding: 8px;
  border-radius: 5px;
  margin: 0 4px;

  color: rgb(var(--black));
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(var(--passive-grey));
}

nav a:active,
nav a.selected {
  background-color: rgb(var(--active-grey));
}

section:not(.open) {
  display: none;
}

section.open:empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

section.open:empty::before {
  content: "No one's around to help.";
}

section h2 {
  text-align: center;
}

input[type="text"],
select,
textarea {
  padding: 4px;
  border: none;
  border-radius: 3px;

  background-color: rgb(var(--passive-grey));
  color: rgb(var(--black));
}

::placeholder {
  color: inherit;
  opacity: 0.55;
}

input[type="text"] {
  padding-left: 8px;
  padding-right: 8px;
}

input[type="text"]:focus,
select:focus {
  background-color: rgb(var(--active-grey));
}

textarea {
  resize: none;
  width: 100%;
}

textarea,
pre {
  scrollbar-color: rgba(var(--black), 0.5) rgb(var(--passive-grey));
  scrollbar-width: thin;
}
