.xkit-control-button-container {
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 700;
  margin-left: 20px;
  position: relative;
  line-height: 1;
}

.xkit-control-button-container-span {
  vertical-align: top;
  display: inline-block;
  width: inherit;
}

.xkit-control-button {
  color: inherit;
  font: inherit;
}

.xkit-control-button-inner {
  display: block;
  color: inherit;
  font: inherit;
}
