:root {
  --black: 21, 20, 25;
  --white: 255, 255, 255;
  --accent: 10, 132, 255;

  font-size: 16px;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: 251, 251, 254;
    --white: 66, 65, 77;
    --accent: 54, 213, 255;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;

  background-color: rgb(var(--white));
  background-image: linear-gradient(
    rgba(var(--black), 0.1),
    rgba(var(--black), 0.1)
  );
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

main, article {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  color: rgb(var(--black));
}

main > h3 {
  margin: 0;

  text-align: center;
}

article {
  padding: 20px;
  border-radius: 15px;
  margin: 1ch 0;

  background-color: rgb(var(--white));
}

article h1 {
  margin: 0;

  font-size: 3rem;
  text-align: center;
  line-height: 1;
}

article p {
  width: 0;
  min-width: 100%;
  margin-top: 0;
  margin-bottom: 1rem;

  font-size: 1.3125rem;
  font-weight: 700;
  text-align: center;
}

article button {
  padding: 1ch;
  border: none;
  border-radius: 5px;
  margin-top: 1ch;

  background-color: rgb(var(--accent));
  color: rgb(var(--white));
  cursor: pointer;
  font-weight: 700;
}

article button:focus {
  outline: auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1ch;

  color: rgba(var(--black), 0.6);
  text-align: center;
  text-decoration: none;
}
