#quick-reblog {
  position: absolute;
  z-index: 97;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
  padding: 2px;
  border-radius: 3px;
  overflow: hidden;
  color: rgb(var(--black));
  font-size: .875rem;
  font-weight: normal;
  background-color: rgb(var(--white));
  background-image: linear-gradient(rgba(var(--black), 0.13), rgba(var(--black), 0.13));
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 250px;
  line-height: 1;
}

#quick-reblog [hidden] {
  display: none !important;
}

#quick-reblog {
  --icon-spacing: 12px;
}
@media (max-width: 990px) {
  #quick-reblog {
    --icon-spacing: 0px;
  }
}

#quick-reblog[data-position="below"] {
  inset: 100% 50% auto auto;
  transform: translate(calc(50% + var(--horizontal-offset, 0%)), var(--icon-spacing));
}
#quick-reblog[data-position="above"] {
  inset: auto 50% 100% auto;
  transform: translate(calc(50% + var(--horizontal-offset, 0%)), calc(0px - var(--icon-spacing)));
}

#quick-reblog select,
#quick-reblog input {
  border: none;
  border-radius: 0;
  color: inherit;
  background-color: inherit;
}

#quick-reblog input {
  padding: 1ch;
  margin-bottom: 2px;
}

#quick-reblog select {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: var(--font-family);
  font-weight: bold;
}

#quick-reblog .select-container {
  display: flex;
  padding: 4px;
  margin-bottom: 2px;

  background-color: inherit;
}

#quick-reblog .avatar {
  flex: none;
  height: 26px;
  width: 26px;
  margin-right: 2px;

  background-size: cover;
  border-radius: 2px;
}

#quick-reblog .quick-tags {
  font-size: .875rem;
  line-height: 1.125;
  --button-height: calc(1.125em + (0.75ch * 2) + 2px);
}

#quick-reblog .quick-tags:not([hidden]) {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-height: calc(var(--button-height) * 4);
  overflow-y: auto;
}

#quick-reblog .quick-tags button {
  position: relative;

  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  padding: 0.75ch 1ch;
  padding-right: calc(1ch + 1em + 1ch);
  margin-bottom: 2px;

  background-color: rgb(var(--white));
  color: rgb(var(--black));
  font-size: inherit;
  line-height: inherit;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;

  opacity: 0.65;
}

#quick-reblog .quick-tags button:hover {
  background-color: rgb(var(--secondary-accent));
  opacity: 1;
}

#quick-reblog .quick-tags button[data-checked="true"]::after {
  position: absolute;
  top: 50%;
  right: 1ch;
  z-index: 1;
  transform: translateY(-50%);

  display: inline-block;
  height: 1em;
  width: 1em;

  content: "\2713";
  line-height: 1;
}

#quick-reblog .action-buttons {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 200px;
}

#quick-reblog .action-buttons button {
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 1ch;

  background-color: rgb(var(--white));
  font-weight: bold;
}

#quick-reblog .action-buttons:enabled button:hover {
  background-color: rgb(var(--secondary-accent));
}

#quick-reblog .action-buttons button:not(:first-child) {
  margin-left: 2px;
}

#quick-reblog .action-buttons:disabled::before {
  content: "Processing…";
  font-weight: bold;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgb(var(--white));
  background-image: linear-gradient(rgba(var(--black), 0.13), rgba(var(--black), 0.13));
}

#quick-reblog button[data-state="published"] { color: rgb(var(--blue)); }
#quick-reblog button[data-state="queue"] { color: rgb(var(--pink)); }
#quick-reblog button[data-state="draft"] { color: rgb(var(--orange)); }

#quick-reblog .action-buttons.community-selected button:not([data-state="published"]) { display: none; }

/* === AlreadyReblogged === */

footer.published :is(button:not([role]), a[href^="/reblog/"]) use:is([href="#managed-icon__ds-reblog-24"], [href="#managed-icon__reblog"]) { --icon-color-primary: rgb(var(--green)); }
footer.queue :is(button:not([role]), a[href^="/reblog/"]) use:is([href="#managed-icon__ds-reblog-24"], [href="#managed-icon__reblog"]) { --icon-color-primary: rgb(var(--purple)); }
footer.draft :is(button:not([role]), a[href^="/reblog/"]) use:is([href="#managed-icon__ds-reblog-24"], [href="#managed-icon__reblog"]) { --icon-color-primary: rgb(var(--red)); }

footer:is(.published, .queue, .draft) :is(button:not([role]), a[href^="/reblog/"]):has(use:is([href="#managed-icon__ds-reblog-24"], [href="#managed-icon__reblog"])) {
  position: relative;
}

/* Cut-out for tick in 2025 post footer */
footer:is(.published, .queue, .draft) :is(a[href^="/reblog/"], button) svg:has(use[href="#managed-icon__ds-reblog-24"]) {
  -webkit-mask-image: radial-gradient(
    calc(14.7px / 2) calc(18px / 2) at bottom 4px left 21px,
    transparent 99%,
    white 100%
  );
  mask-image: radial-gradient(
    calc(14.7px / 2) calc(18px / 2) at bottom 4px left 21px,
    transparent 99%,
    white 100%
  );
}

/* Styles for tick pseudo-element */
footer:is(.published, .queue, .draft) :is(button:not([role]), a[href^="/reblog/"]):has(use:is([href="#managed-icon__ds-reblog-24"], [href="#managed-icon__reblog"]))::after {
  position: absolute;

  display: inline-block;
  padding: 2px;
  border-radius: 100%;

  content: "\2713";
  font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}

/* Pre-2025 post footer */
footer:is(.published, .queue, .draft) a[href^="/reblog/"]:has(use[href="#managed-icon__reblog"])::after {
  background-color: var(--content-panel);
  bottom: -5px;
  right: -5px;
}

/* 2025 post footer */
footer:is(.published, .queue, .draft) :is(a[href^="/reblog/"], button):has(use[href="#managed-icon__ds-reblog-24"])::after {
  bottom: 4px;
  left: 21px;
}

footer.published :is(button:not([role]), a[href^="/reblog/"]):has(use:is([href="#managed-icon__ds-reblog-24"], [href="#managed-icon__reblog"]))::after { color: rgb(var(--green)); }
footer.queue :is(button:not([role]), a[href^="/reblog/"]):has(use:is([href="#managed-icon__ds-reblog-24"], [href="#managed-icon__reblog"]))::after { color: rgb(var(--purple)); }
footer.draft :is(button:not([role]), a[href^="/reblog/"]):has(use:is([href="#managed-icon__ds-reblog-24"], [href="#managed-icon__reblog"]))::after { color: rgb(var(--red)); }

/* === XKit 7 override === */

#x1cpostage_box {
  display: none !important;
}
