.xkit-collapsed-queue-wrapper {
  position: relative;
}
.xkit-collapsed-queue-container {
  max-height: 200px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}
.xkit-collapsed-queue-container::before {
  content: "";
  box-shadow: inset 0 -18px 18px -24px black, inset 0 18px 18px -24px black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
