.accesskit-normal-width-scrollbar:is(html, body),
body:where(.accesskit-normal-width-scrollbar) div {
  scrollbar-width: auto;
}

figure.accesskit-visible-alt-text {
  height: 100%;
  display: flex;
  flex-direction: column;
}

figure.accesskit-visible-alt-text figcaption {
  box-sizing: border-box;
  height: 100%;
  min-width: calc((min(540px, 100vw) / 3) - (4px * 2));
  padding: var(--post-header-vertical-padding) var(--post-padding);
  overflow: hidden;

  background-color: rgba(var(--black), 0.07);
  color: rgb(var(--black));
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  overflow-wrap: break-word;
  white-space: pre-line;

  user-select: text;
  cursor: initial;
}
