[data-show-originals="on"] ~ div > [data-show-originals-hidden],
[data-show-originals="on"][data-location="exemptBlogTimeline"] ~ div > [data-show-originals-hidden-on-exempt-blog-timeline] {
  content: linear-gradient(transparent, transparent);
  height: 0;
}

.xkit-show-originals-lengthened {
  min-height: 100vh;
}

.xkit-show-originals-controls {
  color: var(--blog-title-color, rgb(var(--white-on-dark)));
  display: flex;
  font-weight: 700;
  margin-bottom: 20px;
}

.xkit-show-originals-controls > a {
  flex: 1;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.xkit-show-originals-controls > a {
  cursor: pointer;
}

[data-show-originals="on"].xkit-show-originals-controls > a[data-mode="on"],
[data-show-originals="off"].xkit-show-originals-controls > a[data-mode="off"] {
  box-shadow: inset 0 -3px 0 var(--blog-link-color, rgb(var(--deprecated-accent)));
  color: var(--blog-link-color, rgb(var(--deprecated-accent)));
}
