#backup details {
  display: flex;
  flex-direction: column;
  padding: 1ch;
}

#backup h4 {
  display: inline-block;
  margin: 0;
}

#backup label {
  margin: 1em 0;
}

#backup textarea {
  box-sizing: border-box;
  max-height: calc(10em + 2ch);
  overflow: auto;
  overflow-wrap: break-word;
  padding: 1ch;
  border: none;
  margin: 1em 0;

  color: var(--black);
  background-color: var(--light-grey);
  font-family: monospace, monospace;
  font-size: smaller;
  user-select: all;
  white-space: pre;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-container button {
  padding: 0;
  border: none;
  margin: 0;

  background-color: inherit;
  color: var(--blue);
  cursor: pointer;
  font-weight: bold;
}

#copy-local.copied::after {
  margin-left: 1ch;

  content: "Copied!";
  color: var(--black);
  font-weight: normal;

  transition: opacity 1s;
  opacity: 1;
}

#copy-local.copied.fading::after {
  opacity: 0;
}

#import {
  border-top: 1px dotted var(--dark-grey);
}

#restore-local {
  display: block;
  width: 100%;

  text-align: center;
}
