#backup > div {
  margin: 1ch 0;
  padding: 0 1ch;
}

#backup > div + div {
  padding-top: 1em;
  border-top: 1px dotted var(--dark-grey);
  margin-top: 1em;
}

.storage-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
}

.storage-area div:not([class]) {
  display: flex;
  flex-direction: column;
}

.cloud-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.storage-area h4,
.storage-area p {
  margin: 0;
}

.storage-area p {
  margin-top: 0.5ch;
  line-height: 1em;
  min-height: 1em;
}

.storage-area button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 2em;
  max-height: 2em;
  margin-left: 1ch;
}

.storage-area button i {
  font-size: 1.5em;
}

.errors {
  font-size: 12px;
  white-space: pre-wrap;
  max-width: 100%;
}

.textarea-container {
  display: flex;
}

#local-import {
  color: var(--black);
  background-color: var(--light-grey);
  border-color: var(--light-grey);
  font-family: monospace, monospace;
  font-size: smaller;
  white-space: pre;
  padding: 1ch;
}

.local-controls {
  display: flex;
  flex-direction: row;
  margin-top: 1ch;
}

.local-controls button {
  width: 100%;
  text-align: center;
}

.local-controls button:not(:first-child) {
  margin-left: 1ch;
}

#local-restore.unchanged-import::after {
  content: "\2026";
}
