#backup {
  margin: 1ch 0;
  padding: 0 1ch;
}

.storage-areas div {
  display: flex;
  flex-direction: column;
  padding: 1ch;
}

.storage-areas h4 {
  text-transform: capitalize;
}

.storage-areas h4,
.storage-areas p {
  margin: 0;
}

.storage-areas p {
  margin-top: 0.5ch;
}

.if-sync-supported:not(.sync-supported) {
  display: none;
}

.if-sync-supported .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.if-sync-supported button {
  width: 100%;
}

.if-sync-supported button + button {
  margin-left: 1ch;
}

.if-sync-supported .errors {
  font-size: 12px;
  white-space: pre-wrap;
}

.local button {
  width: 100%;
  text-align: center;
}
