:root {
  --script-hover: #e5e7ea;
  --script-focus: #f3f8fb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --script-hover: #393939;
    --script-focus: #24363e;
  }
}

.finder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--white);
  padding: 1ch;
  border-bottom: 1px solid var(--light-grey);
}

.finder div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.finder div:first-child {
  flex-grow: 1;
}

.finder div + div {
  margin-left: 1ch;
}

#search {
  width: 175px;
  min-width: calc(100% - 16px);
}

.no-results {
  display: none;
  justify-content: center;
  align-items: center;
}

.script.search-hidden,
.script.filter-hidden {
  display: none;
}

.script {
  border-bottom: 1px dotted var(--dark-grey);
}

.script summary {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1ch;
}

.script summary::-webkit-details-marker {
  display: none;
}

.script.disabled summary {
  color: var(--dark-grey);
}

.script summary:hover {
  background-color: var(--script-hover);
}

.script summary:focus {
  background-color: var(--script-focus);
}

.script .icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.script .icon i {
  font-size: 26px;
}

.script .icon,
.script .meta {
  margin-right: 1ch;
}

.script .icon,
.script .toggle-button {
  flex-shrink: 0;
}

.script .title,
.script .description {
  margin: 0;
}

.script.disabled .title::after {
  content: "(disabled)";
  margin-left: 0.5ch;
  font-weight: normal;
}

.script input[type="checkbox"].toggle-button {
  margin-left: auto;
}

.script ul.preferences {
  padding: 0 1ch;
  margin: 1ch 0;
  list-style-type: none;
}

.script .preferences:empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.script .preferences:empty::before {
  content: "No preferences available for this script.";
}

.script li {
  display: flex;
  align-items: center;
  padding: 0.5ch 0;
}

.script iframe {
  border: none;
  width: 100%;
}
