:root {
  --in-content-button-background: #9da6af;
  --in-content-button-background-hover: #9da6af;
  --in-content-button-background-active: #9da6af;
  --in-content-border-active: #0a84ff;
  --in-content-primary-button-background: #0060df;
  --in-content-primary-button-background-hover: #003eaa;
  --in-content-primary-button-background-active: #002275;

  --black: #000000;
  --white: #ffffff;
  --light-grey: #dddddd;
  --dark-grey: #444444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #ffffff;
    --white: #343434;
    --light-grey: #222222;
    --dark-grey: #bbbbbb;
  }
}

html {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--light-grey);
}

body {
  color: var(--black);
  background-color: var(--white);
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--light-grey);
}

h1 {
  text-align: center;
  margin-top: 0;
  padding: 0 0.67em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
  flex-grow: 1;
  text-align: center;
  color: var(--dark-grey);
  line-height: 1em;
  font-weight: bold;
  text-decoration: none;
  padding: 1ch;
  border-radius: 5px 5px 0 0;
}

nav a:active, nav a.selected {
  color: var(--black);
  background-color: var(--white);
}

section:not(.open) {
  display: none;
}

section.open:empty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

section.open:empty::before {
  content: "No one's around to help.";
}

section h2 {
  text-align: center;
}

label:not(:first-child),
input:not(:first-child),
select:not(:first-child) {
  margin-left: 1ch;
}

textarea {
  resize: none;
  width: 100%;
}
