name: CI

on:
  push:
    branches:
      - master
    paths:
      - src/**
      - package*.json
      - eslint.config.js
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup Node.js environment
      uses: actions/setup-node@v6
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci

    - name: Run tests
      run: npm test
