name: WebExt

on:
  push:
    branches: [ master ]
    paths: [ 'manifest.json' ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node 12
        uses: actions/setup-node@v2.1.1
        with:
          node-version: 12

      - name: Install dependencies
        run: npm ci

      - name: Install npx
        run: npm install npx

      - name: Lint WebExtension
        run: npx web-ext lint

      - name: Build WebExtension
        run: npx web-ext build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: web-ext-artifacts
          path: web-ext-artifacts
